@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cars (Rayo McQueen) </h1>
    <p>Done by <a href="https://github.com/WashingtonYandun">WashingtonYandun</a>.</p>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        @ViewBag.ErrorMessage
    }
    <table class="table">
        <thead>
        <th>Id</th>
        <th>Tipo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Gallons</th>
        <th>Status</th>
        <th>Actions</th>
        </thead>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr>
                <td>
                    @vehicle.ID
                </td>
                <td>
                    @(vehicle.GetType().Name)
                </td>
                <td>
                    @vehicle.Brand
                </td>
                <td>
                    @vehicle.Model
                </td>
                <td>
                    @vehicle.Color
                </td>
                <td>
                    @vehicle.Gas.ToString("N1")
                </td>
                <td>
                    @(vehicle.IsEngineOn() ? "On" : "Off")
                </td>
                <td>
                    @if (vehicle.IsEngineOn())
                    {
                        <a class="btn btn-danger" href="/Home/StopEngine?id=@vehicle.ID">Stop Engine</a>
                    }
                    else
                    {
                        <a class="btn btn-success" href="/Home/StartEngine?id=@vehicle.ID">Start Engine</a>
                    }

                    <b><a href="/Home/AddGas?id=@vehicle.ID">Put Gas</a></b>
                </td>
            </tr>
        }
    </table>

    <div class="d-flex justify-content-around">
        <a class="btn btn-primary" href="/Home/AddMustang">Add Mustang</a><br />
        <a class="btn btn-primary" href="/Home/AddExplorer">Add Explorer</a><br />
        <a class="btn btn-primary" href="/Home/AddEscape">Add Escape</a><br />
    </div>

</div>
